html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: block;
  padding: .4rem 0;
  font-size: 2rem;
  margin: 0 0 .7rem;
  color: #fff;
  background-color: #d05c2e;
}

.nav {
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  margin: .1rem 0;
}

.grain-left {
  margin: .3rem;
  float: left;
  width: 40px;
}

.grain-right {
  margin: .3rem;
  float: right;
  width: 40px;
}

div {
  text-align: center;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font-size: 1.125rem;
  border: 1px solid #a63f38;
  text-align: center;
  background-color: #d05c2e;
}

nav li {
  float: left;
  width: 33.33%;
}

nav .home:hover {
  background-color: #a63f38;
}

nav .cereals:hover {
  background-color: #a63f38;
}

nav .legumes:hover {
  background-color: #a63f38;
}
